<!-- //partial 2 from  _post.ejs -->

<li>
    <p>
        <!-- //creatng a delete button to delete a comment -->
        <% if(locals.user && locals.user.id == comment.user.id){ %>
            <small>
                <a href="/comments/destroy/<%= comment.id %>"> X </a>
            </small>
            <% } %>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
</li>